
#socialmyblog-buttons {
	display: block;
	width: 100%;
	padding: 7px 0;
	height: 20px;
	clear: both;
}

.socialmyblog-button {
	float: left;
}

.googleplus {
	width: 75px !important;
}

.stumble {
	width: 90px !important;
	margin-top: 2px;
}

.pintrest {
	width: 60px !important;
}

#iframe-stmblpn-widget-1 {
	height: 19px !important;
}

.IN-widget {
	padding-right: 10px;
}

.socialmyblog-icons {
	display: block;
	overflow: hidden;
	padding-bottom: 10px;
}

.socialmyblog-icons .social-icon {
	width: 32px;
	height: 32px;
	margin: 3px;
	display: block;
	float: left;
	text-indent: -9999px;
}

.socialmyblog-icons a.social-icon {
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.socialmyblog-icons a.social-icon:hover {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .5);
}

.rss-icon {
	background: url(images/set_1/rss.png) no-repeat;
}

.facebook-icon {
	background: url(images/set_1/facebook.png) no-repeat;
}

.flikr-icon {
	background: url(images/set_1/flikr.png) no-repeat;
}

.linkedin-icon {
	background: url(images/set_1/linkedin.png) no-repeat;
}

.twitter-icon {
	background: url(images/set_1/twitter.png) no-repeat;
}

.googleplus-icon {
	background: url(images/set_1/googleplus.png) no-repeat;
}

.twitter-icon {
	background: url(images/set_1/twitter.png) no-repeat;
}

.vimeo-icon {
	background: url(images/set_1/vimeo.png) no-repeat;
}

.youtube-icon {
	background: url(images/set_1/youtube.png) no-repeat;
}